/* styles/auth.css */
header, [data-testid="stHeader"] { visibility: hidden; }

/* 页面深邃背景 */
.stApp {
    background-color: #050a18 !important;
}

/* 给 st.container(border=True) 增加卡片高级感 */
[data-testid="stElementContainer"] > div[data-testid="stVerticalBlockBorderWrapper"] {
    background-color: white !important;
    border: none !important;
    border-radius: 24px !important;
    padding: 20px !important;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5) !important;
}

/* 统一 Tab 标签颜色 */
button[data-baseweb="tab"] {
    color: #475569 !important;
}

/* 按钮美化 */
button[kind="primaryFormSubmit"] {
    background: #1e3a8a !important;
    border-radius: 10px !important;
    height: 45px;
}
